{% extends "base.html" %} {% load static %} {% block page_title %}ログイン{% endblock %} {% block extra_css %}
<style type="text/css">
    .container>.grid {
        height: 100%;
    }
    
    .column {
        max-width: 400px;
    }
    
    p.red.message {
        color: #db2828;
        margin: 0.8em 0 0 0.8em;
        text-align: left;
    }
</style>
{% endblock %} {% block content %}
<div style="text-align: center; padding-top: 50px;">
    <h2>登録が完了しました</h2>
    <a class="nav-link" href="/login/">ログイン</a>
</div>
{% endblock %}