{% extends "base.html" %} {% load static %} {% block page_title %}プロフィール更新{% endblock %} {% block extra_css %}
<style type="text/css">
    .container>.grid {
        height: 100%;
    }
    
    .column {
        max-width: 400px;
    }
    
    p.red.message {
        color: #db2828;
        margin: 0.8em 0 0 0.8em;
        text-align: left;
    }
</style>
{% endblock %} {% block content %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <form action="" method="post" class="ui form">
            <div class="ui stacked segment">
                <div class="ui red message">
                    {{ form.as_p }}{% csrf_token %}
                    <button type="submit" class="ui fluid teal submit button">更新</button>
                </div>
        </form>
        </div>
    </div>
    {% endblock %}