{% extends "base.html" %} {% load static %} {% block page_title %}プロフィール更新{% endblock %} {% block extra_css %}
<style type="text/css">
    .container>.grid {
        height: 100%;
    }
    
    .column {
        max-width: 400px;
    }
    
    p.red.message {
        color: #db2828;
        margin: 0.8em 0 0 0.8em;
        text-align: left;
    }
</style>
{% endblock %} {% block content %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <table class="table">
            <tbody>
                <tr>
                    <th>ユーザー名</th>
                    <td>{{ customuser.username }}</td>
                </tr>
            </tbody>
            <a class="btn btn-primary" href="{% url 'accounts:user_update' user.pk %}" role="button">更新</a>
        </table>
    </div>
</div>
{% endblock %}