{% extends "myhealthapp/base.html" %}

{% if form.non_field_errors %}
<div class="container">
  <ul class="alert alert-danger list-unstyled">
    <li style="list-style-type: none;">
      <ul class="alert alert-danger list-unstyled">{% for error in
        form.non_field_errors %}
        <li>{{ error }}</li>
      </ul>
    </li>
  </ul>
  {% endfor %}
  <a class="btn btn-success" href="{% url 'myhealthapp:lists_list' %}"
     role="button">リスト一覧</a>
  <a class="btn btn-primary" href="{% url 'myhealthapp:lists_create' %}"
     role="button">入力フォームへ</a>


</div>
{% endif %}