{% extends "myhealthapp/base.html" %}

{% block content %}
<div class="container">
  <h1>リスト一覧</h1>
  <div>
    <a class="btn btn-primary"
       href="{% url 'myhealthapp:lists_create' %}"
       role="button">作成</a>

    {% for list in list_list %}
    <ui>
      <li>
        {{ list.date }}
      </li>
      <li>
        {{ list.go_to_bed }}
      </li>
      <li>
        {{ list.wakeup }}
      </li>
      <li>
        {{ list.sleep_quality }}
      </li>
      <li>
        {{ list.sleep_time }}
      </li>
      <li>
        {{ list.short_comment }}
      </li>
      <li>
        {{ list.staff_comment }}
      </li>
    </ui>
    <br>

    {% endfor %}
  </div>
</div>
{% endblock %}