{% extends "myhealthapp/base.html" %}

{% block content %}
<div class="container">
  <h1>リスト作成</h1>
  <form method="post">
    {% csrf_token %}
    <label for="date_into">日付<input type="text" id="date_into" name="date_into"></label>
    <br>
    <label for="go_to_bed">就寝時間<input type="text" id="go_to_bed"
                                      name="go_to_bed"></label>
    <br>
    <label for="wakeup">起床時間<input type="text" id="wakeup"
                                   name="wakeup"></label>
    <br>
    <label for="short_comment">コメント<input type="text" id="short_comment"
                                          name="short_comment"></label>

    <br>
    <button class="btn btn-success" type="submit" name="send" id="send">送信
    </button>
  </form>
</div>
{% endblock %}