{% extends 'base.html' %}

{% block content %}
<section id="diary-detail" class="container">
    <nav class="back"><a href="{% get_return_link request %}">戻る</a></nav>
    <article class="diary">
        <h1 class="diary-title">{{ diary.title }}</h1>
        <p class="meta">
            <time datetime="{{ diary.created_at | date:'Y-m-d' }}">{{ diary.created_at | date:'Y年n月j日' }}</time>
        </p>
        <div class="contents text-left">
            {{ diary.text | linebreaks }}
        </div>
    </article>

    <a class="btn btn-info" href="{% url 'life:list' %}" role="button">一覧へ戻る</a>
    <a class="btn btn-primary" href="{% url 'life:update' list.pk  %}" role="button">編集</a>
    <a class="btn btn-danger" href="{% url 'life:delete' list.pk  %}" role="button">削除</a>
</section>
{% endblock %}