{% extends 'base.html' %}


{% block content %}
<main class="container">
    <div class="p-3 mb-2 bg-light text-dark">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">アルバムページのサンプル</h1>
                    <p class="lead text-muted">
                        内容や作成者など、以下のコレクションに関する簡単な説明文を書きましょう。なるべく短く、わかりやすい文にしましょう。しかし短すぎると、友達は見てくれないかもしれません。</p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">日記作成</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
    <h1>日記一覧</h1>
</main>
{% endblock %}